<!DOCTYPE html>
<html lang="en">

<head>

  <title>MCQ Search</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="stylesheet" href="{% static 'search/css/vendor/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'search/css/vendor/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'search/css/index.css' %}">

  <script type="text/javascript" src="{% static 'search/js/vendor/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'search/js/vendor/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'search/js/vendor/bootstrap.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'search/js/index.js' %}"></script>